body {
	font-family: sans-serif;
    font-size: small;
	margin: 0;
    height: 100%;
}

#map {
	width: 105%; height:100vh;
}
.leaflet-marker-icon {
    width: auto !important;
    height: auto !important;
}
.cluster { 
    padding: 5px 10px;
    color: white;
}














.layer0 {
    background: red;
}
.layer1{background:#FFFF00;}
.layer2{background:#1CE6FF;}
.layer3{background:#FF34FF;}
.layer4{background:#FF4A46;}
.layer5{background:#008941;}
.layer6{background:#006FA6;}
.layer7{background:#A30059;}
.layer8{background:#FFDBE5;}
.layer9{background:#7A4900;}
.layer10{background:#0000A6;}
.layer11{background:#63FFAC;}
.layer12{background:#B79762;}
.layer13{background:#004D43;}
.layer14{background:#8FB0FF;}
.layer15{background:#997D87;}
.layer16{background:#5A0007;}
.layer17{background:#809693;}
.layer18{background:#FEFFE6;}
.layer19{background:#1B4400;}
.layer20{background:#4FC601;}
.layer21{background:#3B5DFF;}
.layer22{background:#4A3B53;}
.layer23{background:#FF2F80;}
.layer24{background:#61615A;}
.layer25{background:#BA0900;}
.layer26{background:#6B7900;}
.layer27{background:#00C2A0;}
.layer28{background:#FFAA92;}
.layer29{background:#FF90C9;}
.layer30{background:#B903AA;}
.layer31{background:#D16100;}
.layer32{background:#DDEFFF;}
.layer33{background:#000035;}
.layer34{background:#7B4F4B;}
.layer35{background:#A1C299;}
.layer36{background:#300018;}
.layer37{background:#0AA6D8;}
.layer38{background:#013349;}
.layer39{background:#00846F;}
.layer40{background:#372101;}
.layer41{background:#FFB500;}
.layer42{background:#C2FFED;}
.layer43{background:#A079BF;}
.layer44{background:#CC0744;}
.layer45{background:#C0B9B2;}
.layer46{background:#C2FF99;}
.layer47{background:#001E09;}
.layer48{background:#00489C;}
.layer49{background:#6F0062;}
.layer50{background:#0CBD66;}
.layer51{background:#EEC3FF;}
.layer52{background:#456D75;}
.layer53{background:#B77B68;}
.layer54{background:#7A87A1;}
.layer55{background:#788D66;}
.layer56{background:#885578;}
.layer57{background:#FAD09F;}
.layer58{background:#FF8A9A;}
.layer59{background:#D157A0;}
.layer60{background:#BEC459;}
.layer61{background:#456648;}
.layer62{background:#0086ED;}
.layer63{background:#886F4C;}
.layer64{background:#34362D;}
.layer65{background:#B4A8BD;}
.layer66{background:#00A6AA;}
.layer67{background:#452C2C;}
.layer68{background:#636375;}
.layer69{background:#A3C8C9;}
.layer70{background:#FF913F;}
.layer71{background:#938A81;}
.layer72{background:#575329;}
.layer73{background:#00FECF;}
.layer74{background:#B05B6F;}
.layer75{background:#8CD0FF;}
.layer76{background:#3B9700;}
.layer77{background:#04F757;}
.layer78{background:#C8A1A1;}
.layer79{background:#1E6E00;}
.layer80{background:#7900D7;}
.layer81{background:#A77500;}
.layer82{background:#6367A9;}
.layer83{background:#A05837;}
.layer84{background:#6B002C;}
.layer85{background:#772600;}
.layer86{background:#D790FF;}
.layer87{background:#9B9700;}
.layer88{background:#549E79;}
.layer89{background:#FFF69F;}
.layer90{background:#201625;}
.layer91{background:#72418F;}
.layer92{background:#BC23FF;}
.layer93{background:#99ADC0;}
.layer94{background:#3A2465;}
.layer95{background:#922329;}
.layer96{background:#5B4534;}
.layer97{background:#FDE8DC;}
.layer98{background:#404E55;}
.layer99{background:#0089A3;}
.layer100{background:#CB7E98;}
.layer101{background:#A4E804;}
.layer102{background:#324E72;}
.layer103{background:#6A3A4C;}
.layer104{background:#83AB58;}
.layer105{background:#001C1E;}
.layer106{background:#D1F7CE;}
.layer107{background:#004B28;}
.layer108{background:#C8D0F6;}
.layer109{background:#A3A489;}
.layer110{background:#806C66;}
.layer111{background:#222800;}
.layer112{background:#BF5650;}
.layer113{background:#E83000;}
.layer114{background:#66796D;}
.layer115{background:#DA007C;}
.layer116{background:#FF1A59;}
.layer117{background:#8ADBB4;}
.layer118{background:#1E0200;}
.layer119{background:#5B4E51;}
.layer120{background:#C895C5;}
.layer121{background:#320033;}
.layer122{background:#FF6832;}
.layer123{background:#66E1D3;}
.layer124{background:#CFCDAC;}
.layer125{background:#D0AC94;}
.layer126{background:#7ED379;}
.layer127{background:#012C58;}