body {
    font-family: sans-serif;
    font-size: small;
    margin: 0;
    height: 100%;
}

#map {
    width: 105%; height:100vh;
}
.leaflet-marker-icon {
    width: auto !important;
    height: auto !important;
}
.cluster { 
    padding: 5px 10px;
    color: white;
}

.layer0 {
    background: red;
}
.layer1 {
  background: orange;
}

.layer2 {
  background: #ffa400;
}

.layer3 {
  background: #ffa400;
}

.layer4 {
  background: #ffa300;
}

.layer5 {
  background: #ffa200;
}

.layer6 {
  background: #ffa200;
}

.layer7 {
  background: #ffa100;
}

.layer8 {
  background: #ffa000;
}

.layer9 {
  background: #ffa000;
}

.layer10 {
  background: #ff9f00;
}

.layer11 {
  background: #ff9e00;
}

.layer12 {
  background: #ff9e00;
}

.layer13 {
  background: #ff9d00;
}

.layer14 {
  background: #ff9c00;
}

.layer15 {
  background: #ff9c00;
}

.layer16 {
  background: #ff9b00;
}

.layer17 {
  background: #ff9a00;
}

.layer18 {
  background: #ff9a00;
}

.layer19 {
  background: #ff9900;
}

.layer20 {
  background: #ff9800;
}

.layer21 {
  background: #ff9800;
}

.layer22 {
  background: #ff9700;
}

.layer23 {
  background: #ff9600;
}

.layer24 {
  background: #ff9600;
}

.layer25 {
  background: #ff9500;
}

.layer26 {
  background: #ff9400;
}

.layer27 {
  background: #ff9400;
}

.layer28 {
  background: #ff9300;
}

.layer29 {
  background: #ff9200;
}

.layer30 {
  background: #ff9200;
}

.layer31 {
  background: #ff9100;
}

.layer32 {
  background: #ff9000;
}

.layer33 {
  background: #ff9000;
}

.layer34 {
  background: #ff8f00;
}

.layer35 {
  background: #ff8e00;
}

.layer36 {
  background: #ff8e00;
}

.layer37 {
  background: #ff8d00;
}

.layer38 {
  background: darkorange;
}

.layer39 {
  background: darkorange;
}

.layer40 {
  background: #ff8b00;
}

.layer41 {
  background: #ff8a00;
}

.layer42 {
  background: #ff8a00;
}

.layer43 {
  background: #ff8900;
}

.layer44 {
  background: #ff8900;
}

.layer45 {
  background: #ff8800;
}

.layer46 {
  background: #ff8700;
}

.layer47 {
  background: #ff8700;
}

.layer48 {
  background: #ff8600;
}

.layer49 {
  background: #ff8500;
}

.layer50 {
  background: #ff8500;
}

.layer51 {
  background: #ff8400;
}

.layer52 {
  background: #ff8300;
}

.layer53 {
  background: #ff8300;
}

.layer54 {
  background: #ff8200;
}

.layer55 {
  background: #ff8100;
}

.layer56 {
  background: #ff8100;
}

.layer57 {
  background: #ff8000;
}

.layer58 {
  background: #ff7f00;
}

.layer59 {
  background: #ff7f00;
}

.layer60 {
  background: #ff7e00;
}

.layer61 {
  background: #ff7d00;
}

.layer62 {
  background: #ff7d00;
}

.layer63 {
  background: #ff7c00;
}

.layer64 {
  background: #ff7b00;
}

.layer65 {
  background: #ff7b00;
}

.layer66 {
  background: #ff7a00;
}

.layer67 {
  background: #ff7900;
}

.layer68 {
  background: #ff7900;
}

.layer69 {
  background: #ff7800;
}

.layer70 {
  background: #ff7700;
}

.layer71 {
  background: #ff7700;
}

.layer72 {
  background: #ff7600;
}

.layer73 {
  background: #ff7500;
}

.layer74 {
  background: #ff7500;
}

.layer75 {
  background: #ff7400;
}

.layer76 {
  background: #ff7300;
}

.layer77 {
  background: #ff7300;
}

.layer78 {
  background: #ff7200;
}

.layer79 {
  background: #ff7100;
}

.layer80 {
  background: #ff7100;
}

.layer81 {
  background: #ff7000;
}

.layer82 {
  background: #ff6f00;
}

.layer83 {
  background: #ff6f00;
}

.layer84 {
  background: #ff6e00;
}

.layer85 {
  background: #ff6d00;
}

.layer86 {
  background: #ff6d00;
}

.layer87 {
  background: #ff6c00;
}

.layer88 {
  background: #ff6b00;
}

.layer89 {
  background: #ff6b00;
}

.layer90 {
  background: #ff6a00;
}

.layer91 {
  background: #ff6900;
}

.layer92 {
  background: #ff6900;
}

.layer93 {
  background: #ff6800;
}

.layer94 {
  background: #ff6700;
}

.layer95 {
  background: #ff6700;
}

.layer96 {
  background: #ff6600;
}

.layer97 {
  background: #ff6500;
}

.layer98 {
  background: #ff6500;
}

.layer99 {
  background: #ff6400;
}

.layer100 {
  background: #ff6300;
}

.layer101 {
  background: #ff6300;
}

.layer102 {
  background: #ff6200;
}

.layer103 {
  background: #ff6100;
}

.layer104 {
  background: #ff6100;
}

.layer105 {
  background: #ff6000;
}

.layer106 {
  background: #ff5f00;
}

.layer107 {
  background: #ff5f00;
}

.layer108 {
  background: #ff5e00;
}

.layer109 {
  background: #ff5d00;
}

.layer110 {
  background: #ff5d00;
}

.layer111 {
  background: #ff5c00;
}

.layer112 {
  background: #ff5b00;
}

.layer113 {
  background: #ff5b00;
}

.layer114 {
  background: #ff5a00;
}

.layer115 {
  background: #ff5900;
}

.layer116 {
  background: #ff5900;
}

.layer117 {
  background: #ff5800;
}

.layer118 {
  background: #ff5700;
}

.layer119 {
  background: #ff5700;
}

.layer120 {
  background: #ff5600;
}

.layer121 {
  background: #ff5500;
}

.layer122 {
  background: #ff5500;
}

.layer123 {
  background: #ff5400;
}

.layer124 {
  background: #ff5300;
}

.layer125 {
  background: #ff5300;
}

.layer126 {
  background: #ff5200;
}

.layer127 {
  background: #ff5200;
}

.layer128 {
  background: #ff5100;
}

.layer129 {
  background: #ff5000;
}

.layer130 {
  background: #ff5000;
}

.layer131 {
  background: #ff4f00;
}

.layer132 {
  background: #ff4e00;
}

.layer133 {
  background: #ff4e00;
}

.layer134 {
  background: #ff4d00;
}

.layer135 {
  background: #ff4c00;
}

.layer136 {
  background: #ff4c00;
}

.layer137 {
  background: #ff4b00;
}

.layer138 {
  background: #ff4a00;
}

.layer139 {
  background: #ff4a00;
}

.layer140 {
  background: #ff4900;
}

.layer141 {
  background: #ff4800;
}

.layer142 {
  background: #ff4800;
}

.layer143 {
  background: #ff4700;
}

.layer144 {
  background: #ff4600;
}

.layer145 {
  background: #ff4600;
}

.layer146 {
  background: orangered;
}

.layer147 {
  background: #ff4400;
}

.layer148 {
  background: #ff4400;
}

.layer149 {
  background: #ff4300;
}

.layer150 {
  background: #ff4200;
}

.layer151 {
  background: #ff4200;
}

.layer152 {
  background: #ff4100;
}

.layer153 {
  background: #ff4000;
}

.layer154 {
  background: #ff4000;
}

.layer155 {
  background: #ff3f00;
}

.layer156 {
  background: #ff3e00;
}

.layer157 {
  background: #ff3e00;
}

.layer158 {
  background: #ff3d00;
}

.layer159 {
  background: #ff3c00;
}

.layer160 {
  background: #ff3c00;
}

.layer161 {
  background: #ff3b00;
}

.layer162 {
  background: #ff3a00;
}

.layer163 {
  background: #ff3a00;
}

.layer164 {
  background: #ff3900;
}

.layer165 {
  background: #ff3800;
}

.layer166 {
  background: #ff3800;
}

.layer167 {
  background: #ff3700;
}

.layer168 {
  background: #ff3600;
}

.layer169 {
  background: #ff3600;
}

.layer170 {
  background: #ff3500;
}

.layer171 {
  background: #ff3400;
}

.layer172 {
  background: #ff3400;
}

.layer173 {
  background: #ff3300;
}

.layer174 {
  background: #ff3200;
}

.layer175 {
  background: #ff3200;
}

.layer176 {
  background: #ff3100;
}

.layer177 {
  background: #ff3000;
}

.layer178 {
  background: #ff3000;
}

.layer179 {
  background: #ff2f00;
}

.layer180 {
  background: #ff2e00;
}

.layer181 {
  background: #ff2e00;
}

.layer182 {
  background: #ff2d00;
}

.layer183 {
  background: #ff2c00;
}

.layer184 {
  background: #ff2c00;
}

.layer185 {
  background: #ff2b00;
}

.layer186 {
  background: #ff2a00;
}

.layer187 {
  background: #ff2a00;
}

.layer188 {
  background: #ff2900;
}

.layer189 {
  background: #ff2800;
}

.layer190 {
  background: #ff2800;
}

.layer191 {
  background: #ff2700;
}

.layer192 {
  background: #ff2600;
}

.layer193 {
  background: #ff2600;
}

.layer194 {
  background: #ff2500;
}

.layer195 {
  background: #ff2400;
}

.layer196 {
  background: #ff2400;
}

.layer197 {
  background: #ff2300;
}

.layer198 {
  background: #ff2200;
}

.layer199 {
  background: #ff2200;
}

.layer200 {
  background: #ff2100;
}

.layer201 {
  background: #ff2000;
}

.layer202 {
  background: #ff2000;
}

.layer203 {
  background: #ff1f00;
}

.layer204 {
  background: #ff1e00;
}

.layer205 {
  background: #ff1e00;
}

.layer206 {
  background: #ff1d00;
}

.layer207 {
  background: #ff1c00;
}

.layer208 {
  background: #ff1c00;
}

.layer209 {
  background: #ff1b00;
}

.layer210 {
  background: #ff1b00;
}

.layer211 {
  background: #ff1a00;
}

.layer212 {
  background: #ff1900;
}

.layer213 {
  background: #ff1900;
}

.layer214 {
  background: #ff1800;
}

.layer215 {
  background: #ff1700;
}

.layer216 {
  background: #ff1700;
}

.layer217 {
  background: #ff1600;
}

.layer218 {
  background: #ff1500;
}

.layer219 {
  background: #ff1500;
}

.layer220 {
  background: #ff1400;
}

.layer221 {
  background: #ff1300;
}

.layer222 {
  background: #ff1300;
}

.layer223 {
  background: #ff1200;
}

.layer224 {
  background: #ff1100;
}

.layer225 {
  background: #ff1100;
}

.layer226 {
  background: #ff1000;
}

.layer227 {
  background: #ff0f00;
}

.layer228 {
  background: #ff0f00;
}

.layer229 {
  background: #ff0e00;
}

.layer230 {
  background: #ff0d00;
}

.layer231 {
  background: #ff0d00;
}

.layer232 {
  background: #ff0c00;
}

.layer233 {
  background: #ff0b00;
}

.layer234 {
  background: #ff0b00;
}

.layer235 {
  background: #ff0a00;
}

.layer236 {
  background: #ff0900;
}

.layer237 {
  background: #ff0900;
}

.layer238 {
  background: #ff0800;
}

.layer239 {
  background: #ff0700;
}

.layer240 {
  background: #ff0700;
}

.layer241 {
  background: #ff0600;
}

.layer242 {
  background: #ff0500;
}

.layer243 {
  background: #ff0500;
}

.layer244 {
  background: #ff0400;
}

.layer245 {
  background: #ff0300;
}

.layer246 {
  background: #ff0300;
}

.layer247 {
  background: #ff0200;
}

.layer248 {
  background: #ff0100;
}

.layer249 {
  background: #ff0100;
}

.layer250 {
  background: red;
}